<section id="employees">
    <h2>Сотрудники</h2>
    <p>Список сотрудников компании.</p>
    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addEmployeeModal">Добавить сотрудника</button>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Роль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Account account in ViewBag.Accounts)
                {
                    List<Role> roles = ViewBag.Roles;
                    Role role = roles.FirstOrDefault(r => r.Id == account.User.Roleid);
                    <tr>
                        <td>@account.User.Id</td>
                        <td>@account.User.Name</td>
                        <td>@account.Mail</td>
                        <td>@role.Name</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary edit-employee-btn" data-toggle="modal" data-target="#editEmployeeModal"
                                    data-employee-id="@account.User.Id"
                                    data-employee-name="@account.User.Name"
                                    data-employee-patronomic="@account.User.Patronomic"
                                    data-employee-surname="@account.User.Surname"
                                    data-employee-email="@account.Mail"
                                    data-employee-phone="@account.Phone"
                                    data-employee-password="@account.Password"
                                    data-employee-role="@role.Name">
                                <i class="fas fa-edit"></i>
                            </button>
                            <form method="post" asp-action="DeleteEmployee" asp-controller="Employees" asp-route-id="@account.User.Id" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Модальное окно для добавления сотрудника -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Добавить сотрудника</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddEmployee" asp-controller="Employees" method="post">
                        <div class="form-group">
                            <label for="addEmployeeName">Имя</label>
                            <input type="text" class="form-control" id="addEmployeeName" name="Name"
                                   placeholder="Введите имя" required
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="addEmployeeSurname">Фамилия</label>
                            <input type="text" class="form-control" id="addEmployeeSurname" name="Surname"
                                   placeholder="Введите фамилию" required
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="addEmployeePatronomic">Отчество</label>
                            <input type="text" class="form-control" id="addEmployeePatronomic" name="Patronomic"
                                   placeholder="Введите отчество"
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="addEmployeeEmail">Email</label>
                            <input type="text" class="form-control" id="addEmployeeEmail" name="Email" placeholder="Введите почту" required>
                        </div>
                        <div class="form-group">
                            <label for="addEmployeePhone">Телефон</label>
                            <input type="tel" class="form-control" id="addEmployeePhone" name="Phone" placeholder="Введите телефон" required>
                        </div>
                        <div class="form-group">
                            <label for="addEmployeePassword">Пароль</label>
                            <input type="text" class="form-control" id="addEmployeePassword" name="Password" placeholder="Введите пароль" required>
                        </div>
                        <div class="form-group">
                            <label for="addEmployeeRole">Должность</label>
                            <select class="form-control" id="addEmployeeRole" name="RoleId">
                                @foreach (Role role in ViewBag.Roles)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно для редактирования -->
    <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeModalLabel">Редактировать сотрудника</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditEmployee" asp-controller="Employees" method="post">
                        <input type="hidden" id="editEmployeeId" name="Id" />
                        <div class="form-group">
                            <label for="editEmployeeName">Имя</label>
                            <input type="text" class="form-control" id="editEmployeeName" name="Name"
                                   placeholder="Введите имя" required
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="editEmployeeSurname">Фамилия</label>
                            <input type="text" class="form-control" id="editEmployeeSurname" name="Surname"
                                   placeholder="Введите фамилию" required
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="editEmployeePatronomic">Отчество</label>
                            <input type="text" class="form-control" id="editEmployeePatronomic" name="Patronomic"
                                   placeholder="Введите отчество"
                                   minlength="1"
                                   pattern="[а-яА-ЯёЁ\s\-']+"
                                   title="Только русские буквы (минимум 1 символ)">
                        </div>
                        <div class="form-group">
                            <label for="editEmployeeEmail">Email</label>
                            <input type="text" class="form-control" id="editEmployeeEmail" name="Email" placeholder="Введите почту">
                        </div>
                        <div class="form-group">
                            <label for="editEmployeePhone">Телефон</label>
                            <input type="tel" class="form-control" id="editEmployeePhone" name="Phone" placeholder="Введите телефон">
                        </div>
                        <div class="form-group">
                            <label for="editEmployeePassword">Пароль</label>
                            <input type="password" class="form-control" id="editEmployeePassword" name="Password" placeholder="Введите пароль">
                        </div>
                        <div class="form-group">
                            <label for="addEmployeeRole">Должность</label>
                            <select class="form-control" id="addEmployeeRole" name="RoleId">
                                @foreach (Role role in ViewBag.Roles)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.edit-employee-btn').click(function () {
                var employeeId = $(this).data('employee-id');
                var employeeName = $(this).data('employee-name');
                var employeeSurname = $(this).data('employee-surname');
                var employeePatronomic = $(this).data('employee-patronomic');
                var employeeEmail = $(this).data('employee-email');
                var employeePhone = $(this).data('employee-phone');
                var employeePassword = $(this).data('employee-password');
                var employeeRole = $(this).data('employee-role'); 

                $('#editEmployeeId').val(employeeId);
                $('#editEmployeeName').val(employeeName);
                $('#editEmployeeSurname').val(employeeSurname);
                $('#editEmployeePatronomic').val(employeePatronomic);
                $('#editEmployeeEmail').val(employeeEmail);
                $('#editEmployeePhone').val(employeePhone);
                $('#editEmployeePassword').val(employeePassword);
                $('#editEmployeeRole').val(employeeRole);

                
                $('#editEmployeeModal').modal('show');
            });
        });
    </script>
}