@using System.Globalization
@model IEnumerable<WareHouse.Models.Product>

@foreach (Product product in Model)
{
    <tr data-category-id="@product.MaterialTypeId">
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.Weight</td>
        <td>
            @if (product.MaterialTypeId != null)
            {
                @product.Materialtype.Name
                @if (product.Materialtype.IsDeleted)
                {
                    <span class="text-danger"> (удалена)</span>
                }
            }
            else
            {
                <span>Тип материала не задан</span>
            }
        </td>
        <td>@product.MaterialBrand</td>
        <td>@product.SpecificGravity г/см³</td>

        @if (User.IsInRole("Менеджер по закупкам") || User.IsInRole("Администратор")) 
        {
            <td>
                @if (!product.isHidden) 
                {
                    <button type="button" class="btn btn-sm btn-primary edit-product-btn"
                            data-product-id="@product.Id"
                            data-product-name="@product.Name"
                            data-product-price="@product.Price"
                            data-product-weight="@product.Weight.Value.ToString(CultureInfo.InvariantCulture)"
                            data-product-specific-gravity="@product.SpecificGravity.Value.ToString(CultureInfo.InvariantCulture)"
                            data-product-material-brand="@product.MaterialBrand"
                            data-product-material-type="@product.MaterialTypeId">
                        <i class="fas fa-edit"></i>
                    </button>
                    <a asp-action="DeleteProduct" asp-controller="Products" asp-route-id="@product.Id" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                }
            </td>
        }
    </tr>
}
