@using System.Security.Claims
@{
	bool showHidden = ViewBag.ShowHidden;
}
<div class="mb-3">
	<label for="searchInput">Поиск товара:</label>
	<div class="input-group">
		<input type="text" id="searchInput" class="form-control" placeholder="Введите название товара" oninput="dynamicSearch()">
		<button class="btn btn-outline-secondary" type="button" onclick="dynamicSearch()">
			<i class="fas fa-search"></i>
		</button>
	</div>
</div>

@* Сортировка по категориям *@
<div class="mb-3">
	<label for="categoryFilter">Сортировать по материалу:</label>
	<select id="categoryFilter" class="form-select" onchange="dynamicSearch()">
		<option value="">Все материалы</option>
		@foreach (var materialType in ViewBag.Categories)
		{
			<option value="@materialType.Id">@materialType.Name</option>
		}
	</select>
</div>

<section id="products">
	<h2>Товары</h2>
	<p>Список товаров на складе.</p>
	@if (User.HasClaim(ClaimTypes.Role, "Менеджер по закупкам") || User.HasClaim(ClaimTypes.Role, "Администратор"))
	{
		<button class="btn btn-success mb-3" data-toggle="modal" data-target="#addProductModal">Добавить товар</button>
		<a href="/Products/Index?isHidden=@(!showHidden)" class="btn @(ViewBag.ShowHidden ? "btn-info" : "btn-secondary") mb-3">
			<i class="fas @(ViewBag.ShowHidden ? "fa-eye-slash" : "fa-eye")"></i>
			@(ViewBag.ShowHidden ? "Показать активные" : "Показать скрытые")
		</a>
	}
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Название</th>
					<th>Цена</th>
					<th>Вес</th>
					<th>Тип материала</th>
					<th>Бренд материала</th>
					<th>Удельный вес</th>
					@if (User.HasClaim(ClaimTypes.Role, "Менеджер по закупкам") || User.HasClaim(ClaimTypes.Role, "Администратор"))
					{
						<th>Действия</th>
					}
				</tr>
			</thead>
			<tbody id="productTableBody">
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editProductModalLabel">Редактировать товар</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form asp-action="EditProduct" asp-controller="Products" method="post">
						<input type="hidden" id="editProductId" name="Id" />
						<div class="form-group">
							<label for="editProductName">Название товара</label>
							<input type="text" class="form-control" id="editProductName" name="Name" placeholder="Введите название товара">
						</div>
						<div class="form-group">
							<label for="editProductPrice">Цена</label>
							<input type="number" class="form-control" id="editProductPrice" name="Price" placeholder="Введите цену">
						</div>
						<div class="form-group">
							<label for="editProductWeight">Вес</label>
							<input type="number" class="form-control" step="0.01" min="0.1" id="editProductWeight" oninput="this.value = this.value.replace(/,/g, '.')" name="Weight" placeholder="Введите вес">
						</div>
						<div class="form-group">
							<label for="editProductSpecificGravity">Удельный вес</label>
							<input type="number" class="form-control" step="0.01" min="0.1" id="editProductSpecificGravity" oninput="this.value = this.value.replace(/,/g, '.')" name="SpecificGravity" placeholder="Введите удельный вес">
						</div>
						<div class="form-group">
							<label for="editProductMaterialBrand">Марка материала</label>
							<input type="text" class="form-control" id="editProductMaterialBrand" name="MaterialBrand" placeholder="Введите марку материала">
						</div>
						<div class="form-group">
							<label for="editProductMaterialType">Тип материала</label>
							<select class="form-control" id="editProductMaterialType" name="MaterialType">
								@foreach (Materialtype category in ViewBag.Categories)
								{
									<option value="@category.Id">@category.Name</option>
								}
							</select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
							<button type="submit" class="btn btn-primary">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addProductModalLabel">Добавить товар</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form asp-action="AddProduct" asp-controller="Products" method="post">
					<div class="form-group">
						<label for="productName">Название товара</label>
						<input type="text" name="Name" class="form-control" id="productName" placeholder="Введите название товара" required>
					</div>
					<div class="form-group">
						<label for="productPrice">Цена</label>
						<input type="number" name="Price" class="form-control" id="productPrice" placeholder="Введите цену" required>
					</div>
					<div class="form-group">
						<label for="productWeight">Вес</label>
						<input type="number" class="form-control" step="0.01" min="0.1" id="productWeight" name="Weight" placeholder="Введите вес">
					</div>
					<div class="form-group">
						<label for="productSpecificGravity">Удельный вес</label>
						<input type="number" class="form-control" step="0.01" min="0.1" id="productSpecificGravity" name="SpecificGravity" oninput="this.value = this.value.replace(/,/g, '.')" placeholder="Введите удельный вес">
					</div>
					<div class="form-group">
						<label for="productMaterialBrand">Марка материала</label>
						<input type="text" class="form-control" id="productMaterialBrand" name="MaterialBrand" placeholder="Введите марку материала">
					</div>
					<div class="form-group">
						<label for="productMaterialType">Тип материала</label>
						<select class="form-control" id="productMaterialType" name="MaterialType">
							@foreach (Materialtype category in ViewBag.Categories) 
							{
								<option value="@category.Id">@category.Name</option>
							}
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
						<button type="submit" class="btn btn-primary">Сохранить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@if (User.HasClaim(ClaimTypes.Role, "Менеджер по закупкам") || User.HasClaim(ClaimTypes.Role, "Администратор")) 
{
	<!-- Модальное окно для добавления/редактирования категории -->
	<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addCategoryModalLabel">Добавить/Изменить категорию</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="categoryForm" asp-action="SaveCategory" asp-controller="Products" method="post">
						<input type="hidden" id="categoryId" name="Id" value="0" /> <!-- Скрытое поле для Id категории -->
						<div class="form-group">
							<label for="categoryName">Название материала</label>
							<input type="text" class="form-control" id="categoryName" name="Name" required />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
							<button type="submit" class="btn btn-primary">Сохранить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Кнопка для открытия модального окна -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal" onclick="clearForm()">
		Добавить тип материала
	</button>

	<!-- Таблица для отображения категорий -->
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Название</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var category in ViewBag.Categories)
			{
				<tr>
					<td>@category.Id</td>
					<td>@category.Name</td>
					<td>
						<button type="button" class="btn btn-warning btn-sm" onclick="editCategory(@category.Id, '@category.Name')">
							Изменить
						</button>
						<button type="button" class="btn btn-danger btn-sm" onclick="deleteCategory(@category.Id)">
							Удалить
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}




@section Scripts {
	<script src="~/js/products.js"></script>
}